*{
    margin: 0;
    padding: 0;
}
body{
  width: 1320px;
  margin: 0 auto;
}
#head_box{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px; 
  padding: 5px;
  background-color: white;
  z-index: 50;
  
}

#head_box a{
  text-decoration: none;
  color: black;

}
#head{
    display: flex;
    align-items: center;
}
.year{
  font-size: 20px;
}


#head_img{
    width: 80px;
    margin-left: 10px;
}


#information{
    display: flex;
}


#head_text{
    display: flex;
    align-items: center;
}

#head_text a:hover{
    font-weight: 600;
    /* transition: 0.2s; */
}


#head_text a{
    color: black;
    margin: 0 20px;
    text-decoration: none;
}



#login{
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* justify-content: space-between; */
    /* flex-direction: row; */
}


#login span{
    margin-left: 10px;
}


#slider{
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
}


.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
    animation: slider 8s infinite linear;
}

.slide:nth-child(1){
    background-image: url(./img/img_157651_1.jpg);
    animation-delay: -0;
}

.slide:nth-child(2){
    background-image: url(./img/athletes-1835893_640.jpg);
    animation-delay: -2s;
}
.slide:nth-child(3){
    background-image: url(./img/photo-1519435887317-eabcf2ab8075.jpg);
    animation-delay: -4s;
}
.slide:nth-child(4){
    background-image: url(./img/istockphoto-1449631889-612x612.jpg);
    animation-delay: -6s;
}


@keyframes slider {
    0%  {
        transform: translateX(0);
        animation-timing-function: ease;
      }
      20%{
        transform: translateX(0);
        animation-timing-function: ease;
      }
      25% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
      }
      95% {
        transform: translateX(100%);
        animation-timing-function: ease;
      }
      100%{
        transform: translateX(0);
        animation-timing-function: ease;
      }
  }



#footer{
    margin: 0 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer_span{
    margin-left: 190px;
}


#footer img{
    width: 80px;
}


#game_schedule_box{
    display: flex;
  align-items: center;
  justify-content: center;
  
}


button {
    /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

.game_schedule {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
  }
   
  /*#6*/
  .game_schedule .head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .game_schedule .head.current-date {
    font-size: 24px;
    font-weight: 600;
  }
  .game_schedule .head button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
  }

  .calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }
  .calendar .weeks li {
    font-weight: 500;
  }
  .calendar .days {
    margin-bottom: 20px;
  }
  .calendar ul button,li{
    /*#8*/
    width: calc(100% / 7);
    /*#9*/
    position: relative;
  }
  .calendar .days li,button {
    /*#10*/
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
  }
   
  /*#11*/
  .days li.inactive {
    color: #aaa;
  }

  .days button,li#active {
    color: #fff;
  }
  .calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }
  .calendar .days button::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }
  .days li:hover::before {
    background: #f2f2f2;
  }
  .days button#active::before {
    background: #008aff;
 }

#active{
    display: none;
}
#todays_game{
  border-radius: 5px 0 0 5px;
}

#todays_game_two{
  border-radius: 0 5px 5px 0;
}
#active + label{
    color: black;
    margin-top: 30px;
    cursor: pointer;
    width: calc(100% / 7);
    position: relative;
}
.cakebdar .days label::before{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
#active + label{
    display: inline-block;
    /* padding: 10px; */
    /* background: #008aff; */
    /* color: #fff; */
}
#active_lavel
#active + label::before{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

#active +label + div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#active +label + div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#active +label + div > div > label{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 0%;
    left: 0%;
    height: 10px;
    transform: translate(-50%,-50%);
    padding: 20px;
    background: #dd5347;
    color: #fff;
    border-radius: 100%;
    z-index: 1;
}

#active + label + div > label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}

#active + label + div{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
#active:checked + label + div{
   opacity: 1;
   visibility: visible;
}
#todays_game_text{
  margin-top: 30px;
}

#todays_game{
  background-color: #191919;
  width: 40%;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

#todays_game_two {
  width: 100px;
  height: 100px;
  
}

.opacity{
  opacity: 0;
  transition: all 0.5s ease-in;
}

#todays_game_box:hover .opacity{
  opacity: 1;
}

#todays_game img{
  width: 100px;
  height: 100px;
}

#todays_game_two img{
  width: 100px;
  height: 100px;
}

#todays_game_two{
  background-color: #131D3A;
  width: 30%;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#todays_game_box{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  transition: all 2s;
}

#todays_game_text{
  text-align: center;
  margin-bottom: 20px;
}
h1{
  text-align: center;
}


#ranking{
  display: flex;
  justify-content: space-around;
}


#checkbox_text{
  display: none;
}



.checkbox_text + label {
  cursor: pointer;
}
#checkbox_text + label +div > div >div{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
 
}
#checkbox_text + label +div > div > div{
  display: flex;
  justify-content: space-between;
}

#checkbox_text:checked + label + div >div >div{
  opacity: 1;
  visibility: visible;
}


#checkbox_text_Pitcher{
  display: none;
}


#checkbox_text_Hitter{
  display: none;
}


#checkbox_text_Pitcher + label +p{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

#checkbox_text_Pitcher:checked +label+p{
  opacity: 1;
  visibility: visible;
}

#checkbox_text_Hitter + label +p{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

#checkbox_text_Hitter:checked +label+p{
  opacity: 1;
  visibility: visible;
}

#checkbox_text_weekend{
  display: none;
}
#checkbox_weekend_text_Pitcher{
  display: none;
}

#checkbox_weekend_text_Hitter{
  display: none;
}

#checkbox_text_weekend + label +div > div > div{
  display: flex;
  justify-content: space-between;
}

#weekend_league{
  width: 160px;
  height: 211px;
}

#checkbox_weekend_text_Pitcher + label +p{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

#checkbox_weekend_text_Pitcher:checked +label+p{
  opacity: 1;
  visibility: visible;
}

#checkbox_text_weekend + label +div > div >div{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
 
}
label#active_lavel:hover::before{
  background: #f2f2f2;
}

.cakebdar .days label::before{
  position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

#checkbox_text_weekend:checked + label + div >div >div{
  opacity: 1;
  visibility: visible;
}

#checkbox_weekend_text_Hitter + label +p{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

#checkbox_weekend_text_Hitter:checked +label+p{
  opacity: 1;
  visibility: visible;
}

#checkbox_text_dawn{
  display: none;
}
#checkbox_dawn_text_Pitcher{
  display: none;
}
#checkbox_dawn_text_Hitter{
  display: none;
}

#checkbox_text_dawn + label +div > div > div{
  display: flex;
  justify-content: space-between;
}

#dawn_league{
  width: 160px;
  height: 211px;
}

#checkbox_dawn_text_Pitcher + label +p{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

#checkbox_dawn_text_Pitcher:checked +label+p{
  opacity: 1;
  visibility: visible;
}

#checkbox_text_dawn + label +div > div >div{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
 
}

#checkbox_text_dawn:checked + label + div >div >div{
  opacity: 1;
  visibility: visible;
}

#checkbox_dawn_text_Hitter + label +p{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

#checkbox_dawn_text_Hitter:checked +label+p{
  opacity: 1;
  visibility: visible;
}

#ranking{
  margin-bottom: 30px;
}
#key_ranking{
  margin-bottom: 100px;
}

#key_ranking_accordion{
  width: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
}

.accordion_label {
  display: block;
  cursor: pointer;
  margin: 0;
  font-size: 20px;
}

.accordion_menu {
  max-height: 0; 
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}

#key_ranking_accordion > input:checked + label + .accordion_menu{
  max-height: 200px;
}

input[type="radio"]{
  display: none;
}


/* sub2 css */
.sub2_button_box{
  display: flex;
  justify-content: center;
}

.cub2_button>button{
  border: solid 1px;
  border-radius: 5px;
  width: 90px;
  height: 30px;
}

.cub2_button>select{
  border: solid 1px;
  border-radius: 5px;
  width: 90px;
  height: 30px;
}

.chart_width{
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
}

.width_parents{
  display: flex;
  align-items: center;
}

.width{
  height: 80px;
  background-color: black;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px; */
  border-radius: 5px;
}

/* 세로 차트트 */
.chart_height{
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 5px;
}

.height_parents{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}


.height{
  /* height: 80px; */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 5px;
}

/* 굿즈 판매 영역 스타일*/
.goodsSale_menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
#goodsGroup{
  display: flex;
  justify-content: center;
  margin: 0 10px;

}

#goodsGroup>div>input{
  /* display: none; */
  margin: 0 10px;
  border-radius: 5px;
}

#goodsGroup>div{
  display: flex;
  margin: 0 10px;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 5px;
}


#sort{
  height: 30px;
  width: 135px;
  border: solid 1px;
  border-radius: 5px;
}


/* 굿즈 리스트 스타일 */
#bestGoods,#goodsList{
  display: flex;
  justify-content: center;
}


/* 수정제안 모달 스타일 */
#goodsEdit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #bdbdbd;
}

#goodsEditImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-size: 100% 100%;
}


#imgInput{
  display: none;
}